<dialog id="turbo-confirm" class="max-w-[420px] w-full rounded-xl shadow-md">
  <form method="dialog" class="p-6">
    <div class="flex flex-col mb-4">
      <div class="flex justify-between mb-2 gap-4">
        <h3 id="turbo-confirm-title" class="font-medium text-md">Are you sure?</h3>
        <button value="cancel">
          <%= inline_svg_tag("x-mark.svg", class: "size-5 text-gray-500") %>
        </button>
      </div>
      <div id="turbo-confirm-body" class="text-gray-500 text-sm">
        You will not be able to undo this decision
      </div>
    </div>
    <button id="turbo-confirm-accept" class="w-full text-red-600 rounded-xl text-center p-[10px] border mb-2" value="confirm">Confirm</button>
    <button id="turbo-confirm-cancel" class="w-full rounded-xl text-center p-[10px] border" value="cancel">Cancel</button>
  </form>
</dialog>
