<h1 class="text-3xl">Discover upcoming events</h1>
<p class="mt-2 mb-12">
  Browse through our diverse collection of upcoming events. Whether you're looking for entertainment, education, or networking opportunities, you'll find something that piques your interest. Curious about events you've subscribed to? <%= link_to "View your subscribed events", root_path, class: "underline" %>
</p>
<%= render partial: "events" %>
