<tr class="bg-white border-b">
  <td class="px-4 py-2 whitespace-nowrap"><%= to_date(event.date) %></td>
  <td class="px-4 py-2"><%= event.country %></td>
  <td class="px-4 py-2"><%= event.title %></td>
  <td class="px-4 py-2"></td>
</tr>
