<table class="w-full text-sm">
  <thead class="text-xs text-left text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-4 py-2">Date</th>
      <th scope="col" class="px-4 py-2">Where</th>
      <th scope="col" class="px-4 py-2">Event</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @events %>
  </tbody>
</table>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
