<div class="text-center">
  <% if @show_all %>
    <h1 class="text-3xl">Coming Soon: New Events</h1>
    <p class="mt-4 mb-6">Our event calendar is taking a quick breather, but amazing experiences are just around the corner. Stay tuned for upcoming adventures!</p>
    <%= link_to "See your events", root_path, class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" %>
  <% else %>
    <h1 class="text-3xl">Your journey starts here!</h1>
    <p class="mt-4 mb-6">Your personalized event list is a blank canvas, ready for you to fill with exciting experiences. Why not start exploring?</p>
    <%= link_to "Discover events", root_path(all: "y"), class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" %>
  <% end %>
</div>
