<div id="event-title" class="flex items-center justify-center gap-x-4">
  <%= link_to inline_svg_tag("chevron-left.svg", class: "size-7"), back_or_default(root_path) %>
  <h1 class="text-3xl flex-1 whitespace-nowrap text-ellipsis overflow-hidden"><%= @event.title %></h1>
  <%= action_button(@event) %>
</div>
